%h1 Todos List
%p What do I have to do?

.container
  - if @todos.length > 0
    %table
      %thead
        %tr
          %td Name
          %td Date
          %td Description
      %tbody
        - @todos.each do |todo|
          %tr
            %td= todo.name
            %td= todo.date
            %td= todo.description
