%h1 Create a new task

.container
  = form_for :todo, url: todos_path do |f|
    %label
      Name
      = f.text_field :name

    %label
      Date
      = f.date_field :date

    %label
      Description
      = f.text_area :description

    = f.submit
